@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white;
    @apply dark:bg-slate-900;

    @apply text-slate-900;
    @apply dark:text-slate-400;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  g {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

@layer components {
  .project-wrapper:hover > * {
    transform: translateY(0px);
  }

  .noscroll {
    overflow: hidden;
  }
}
