@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --t: .5s;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;

  }
}

@layer components {
  .project-wrapper:hover > * {
    transform: translateY(0px);
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transform: translateX(100%);
    transition-duration: 500ms;
    background-color: white;
    opacity: 95%;
  }

  .noscroll {
    overflow: hidden;
  }

  path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 3s linear;
    animation-fill-mode: forwards;
  }

  .blue {
    animation-delay: calc(2 * var(--t));
  }

  .yellow {
    animation-delay: var(--t);
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
