name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate PR title
        run: bash scripts/validate_title.sh '${{ github.event.pull_request.title }}''

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: 'yarn'

      - name: Install
        run: yarn

      - name: Lint
        run: yarn lint
